<div class="w3-white" id="tour">
  <!--mens-->
  <div class="w3-container w3-content w3-padding-32" style="max-width:1400px">
    <h2 class="w3-wide w3-center">FASHION BLOCK</h2>
    <p class="w3-opacity w3-center"><i>Find all you need!</i></p><br><hr>
    <div class="w3-row-padding w3-padding-16" style="margin:0 -16px">
      <h2 >MEN'S</h2>
      <div class="w3-col m4 l2 w3-margin-bottom">
        <img src="{{product.image}}" alt="New York" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b >$1000 </b>
          <s class="w3-opacity">$1300 </s></p>
          <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
        </div>
      </div>
      <div class="w3-col m4 l2 w3-margin-bottom">
        <img src="assets/Electronics/tux.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">        <div class="w3-container w3-white">
          <p><b >$1000 </b>
            <s class="w3-opacity">$1300 </s></p>
          <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
        </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/tux.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
      <img src="assets/Electronics/tux.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/tux.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/tux.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/tux.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
      <div class="w3-col m4 l2 w3-margin-bottom">
        <img src="assets/Electronics/tux.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b >$1000 </b>
            <s class="w3-opacity">$1300 </s></p>
          <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
        </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/tux.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/tux.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/tux.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
  </div>
  <!--womens wear--><hr>
  <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
    <h2 >WOMEN'S</h2>
    <div class="w3-col m4 l2 w3-margin-bottom">
      <img src="assets/Electronics/women.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
      </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
      <img src="assets/Electronics/women.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">        <div class="w3-container w3-white">
        <p><b >$1000 </b>
          <s class="w3-opacity">$1300 </s></p>
        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
      </div>
</div>
<div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/women.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">    <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/women.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">    <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/women.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/women.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/women.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
      <img src="assets/Electronics/women.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b >$1000 </b>
          <s class="w3-opacity">$1300 </s></p>
        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
      </div>
</div>
<div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/women.jpg" alt="$1000" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
</div>
</div>
</div>
