<div class="w3-white" id="tour">
  <div class="w3-container w3-content w3-padding-64" style="max-width:1800px">
    <h2 class="w3-wide w3-center">ELECTRONIC PRODUCTS</h2>
    <p class="w3-opacity w3-center"><i>Find all you need!</i></p><br>
    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
      <h2 >SMARTPHONES</h2><hr>
      <div class="w3-col m4 l2 w3-margin-bottom">
        <img src="assets/Electronics/s1.png" alt="New York" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b >$1000 </b>
          <s class="w3-opacity">$1300 </s></p>
          <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
        </div>
      </div>
      <div class="w3-col m4 l2 w3-margin-bottom">
        <img src="assets/Electronics/s1.png" alt="New York" style="width:100%" class="w3-hover-opacity">        <div class="w3-container w3-white">
          <p><b >$1000 </b>
            <s class="w3-opacity">$1300 </s></p>
          <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
        </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/s1.png" alt="New York" style="width:100%" class="w3-hover-opacity">    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
      <img src="assets/Electronics/s1.png" alt="New York" style="width:100%" class="w3-hover-opacity">    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/s1.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/s1.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/s1.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
      <div class="w3-col m4 l2 w3-margin-bottom">
        <img src="assets/Electronics/s1.png" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><b >$1000 </b>
            <s class="w3-opacity">$1300 </s></p>
          <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
        </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/s1.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/s1.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/s1.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
      <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
    </div>
    </div>
  </div>
  <!--laptops-->
  <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
    <h2 >LAPTOPS</h2><hr>
    <div class="w3-col m4 l2 w3-margin-bottom">
      <img src="assets/Electronics/surface.png" alt="New York" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b >$1000 </b>
        <s class="w3-opacity">$1300 </s></p>
        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
      </div>
    </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
      <img src="assets/Electronics/surface.png" alt="New York" style="width:100%" class="w3-hover-opacity">        <div class="w3-container w3-white">
        <p><b >$1000 </b>
          <s class="w3-opacity">$1300 </s></p>
        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
      </div>
</div>
<div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/surface.png" alt="New York" style="width:100%" class="w3-hover-opacity">    <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
    <img src="assets/Electronics/surface.png" alt="New York" style="width:100%" class="w3-hover-opacity">    <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/surface.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/surface.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
  <div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/surface.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
    <div class="w3-col m4 l2 w3-margin-bottom">
      <img src="assets/Electronics/surface.png" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b >$1000 </b>
          <s class="w3-opacity">$1300 </s></p>
        <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
      </div>
</div>
<div class="w3-col m4 l2 w3-margin-bottom">
  <img src="assets/Electronics/surface.png" alt="$1000" style="width:100%" class="w3-hover-opacity">
  <div class="w3-container w3-white">
    <p><b >$1000 </b>
      <s class="w3-opacity">$1300 </s></p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Add to Cart</button>
  </div>
  </div>
</div>
</div>
</div>